{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Hola, {{ name }}, Bienvenido a FitLive ❤️!</h1>

<div class="card" style="width: 18rem;">
    <img src="https://media.gq.com.mx/photos/5f25cdac737a9d2e88e6dfa0/master/w_2732%2cc_limit/el-unico-ejercicio-para-marcar-tu-abdomen-segun-harvard.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

{% endblock %}