{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}

<h1>Hola, {{ name }}, FitLive es una apicación para mejorar tu vida ❤️!. Puedes hacer ejercicio y mejorar tu alimentación con nostros </h1>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="https://tse2.mm.bing.net/th?id=OIP.ddwO1DiDO7-BJ7c8zGkVXAHaFX&pid=Api&P=0&h=180">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

{% endblock %}